body {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  background-color: rgb(209, 201, 201);
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  cursor: url('../img/hammer1.png'), default;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 23%;
  height: 120px;
  background-color: rgb(129, 125, 125);
}

.goblin {
  max-width: 90%;
  max-height: 90%;
}

.clickedEnemy {
  background-color: rgb(3, 190, 50);
  max-width: 100%;
  max-height: 100%;
}

.score {
  font-size: 25px;
  font-weight: 600;
}

.score_span {
  color: rgb(0, 0, 0);
  font-size: 28px;
}

.popUpBack {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8) ;
}

.popUp {
  position: absolute;
  bottom: 300px;
  left: 508px;
  width: 517px;
  height: 100px;
  background: rgb(203, 202, 202);
  border: 3px dashed black;
  font-size: 75px;
  color: rgb(68, 0, 255);
  text-align: center;
}